@import url("./css/var.css");
@import "tailwindcss";

body.dark {
  background-color: var(--dark-background);
  color: var(--dark-text);
}
body.light {
  background-color: var(--light-background);
  color: var(--light-text);
}

html {
  font-size: 16px;
}

@media screen and (max-width: 640px) {
  html {
    font-size: 12px;
  }
}
