@import url("./css/var.css");
@import "tailwindcss";

body.dark {
  background-color: var(--dark-background);
  color: var(--dark-text);
}
body.light {
  background-color: var(--light-background);
  color: var(--light-text);
}
